/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
    position: relative;
    padding-top: $brand--controls-padding;
    padding-bottom: $brand--controls-padding;
    padding-left: $brand--controls-padding * 2;
    padding-right: $brand--controls-padding * 2;
    color: $brand--button-text-color--1;
    font-weight: 300;
    border-style: solid;
    border-width: 0 0 .4em;
    @include vendor(border-radius, $brand--round);
}

.button:active {
    top: .2em;
    border-bottom-width: .2em;
    outline: none;
}

.button--large {
    font-size: 1.2em;
    letter-spacing: -1px;
    padding-top: $brand--controls-padding * 1.1;
    padding-bottom: $brand--controls-padding * 1.1;
    padding-left: $brand--controls-padding * 1.1 * 2;
    padding-right: $brand--controls-padding * 1.1 * 2;
}

.button--small {
    font: {
        size: 0.9em;
        width: 400;
    };
    padding: $brand--controls-padding / 1.1;
}

/* Button Styles */

.button {
    background-color: $brand--button-default-color;
    border-color: darken($brand--button-default-color, 10%);
}

.button--primary {
    background-color: $brand--button-primary-color;
    border-color: darken($brand--button-primary-color, 10%);
}