/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

input,
select,
textarea {
    padding: $brand--controls-spacing;
    color: $brand--input-text-color;
    background-color: $brand--input-color--default;
    border: none;

    &:hover {
        background-color: $brand--input-color--hover;
    }

    &:not([type=radio]):not([type=checkbox]):focus {
        outline: none;
        background-color: $brand--input-color--active;
    }

    @include vendor(transition, all .1s);
}

textarea {
    resize: none;
    resize: vertical;
}

input:not([type=radio]):not([type=checkbox]),
select {
    height: 3.5em;
}

::-webkit-input-placeholder {
    color: $brand--input-text-color--placeholder;
}

:-moz-placeholder { /* Firefox 18- */
    color: $brand--input-text-color--placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $brand--input-text-color--placeholder;
}

:-ms-input-placeholder {
    color: $brand--input-text-color--placeholder;
}

option:disabled {
    color: $brand--input-text-color--placeholder;
}

input + label {
    margin-left: $brand--controls-spacing / 2;
}

.input-placeholder label {
    display: none;
}

.input-placeholder input[type=checkbox] + label,
.input-placeholder input[type=radio] + label,
.input-placeholder .visible {
    display: inline-block !important;
}

.lt-ie9 {
    input[type=password] {
        font-family: sans-serif;
    }
}