/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

input,
textarea {
    padding: $brand--controls-spacing;
    color: $brand--input-text-color;
    background-color: $brand--input-color--default;
    border: none;

    &:hover {
        background-color: $brand--input-color--hover;
    }

    &:focus {
        background-color: $brand--input-color--active;
    }

    @include vendor(transition, all .1s);
}

::-webkit-input-placeholder {
    color: $brand--input-text-color--placeholder;
}

:-moz-placeholder { /* Firefox 18- */
    color: $brand--input-text-color--placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $brand--input-text-color--placeholder;
}

:-ms-input-placeholder {
    color: $brand--input-text-color--placeholder;
}