/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
    color: $base--link-color;
    font-weight: 600;
}

a:hover {
    color: $base--link-color--hover;
}

a:visited {
    color: $base--link-color--visited;
}