/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * Page-level styling, e.g. `html` and `body` elements, etc.
 */


/**
 * 1. One off bits of maths to get our base font size in ems and our base line
 *    height in a unitless value.
 */
html {
    height: 100%;
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: ($base--font-size / 16px) +em; /* [1] */
    line-height: $base--line-height / $base--font-size; /* [1] */
    color: $base--text-color;
}

body {
    position: relative;
    min-height: 100%;
    min-width: 27em;
    background: $brand--color--1;

    @include vendor(perspective, 1000);
}

@media all and (min-width: $base--breakpoint--small) {
    $base--font-size: 13px;

    html {
        font-size: ($base--font-size / 16px) +em; /* [1] */
    }
}


@media all and (min-width: $base--breakpoint--medium) {
    $base--font-size: 15px;

    html {
        font-size: ($base--font-size / 16px) +em; /* [1] */
    }
}


@media all and (min-width: $base--breakpoint--large) {
    $base--font-size: 18px;

    html {
        font-size: ($base--font-size / 16px) +em; /* [1] */
    }
}