/*------------------------------------*\
    #COLOR
\*------------------------------------*/
$base--text-color:              #677f9c;

/** Links */
$base--link-color:              #99ccf4;
$base--link-color--hover:       #eaf6ff;
$base--link-color--visited:     #899eae;

