/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
    position: relative;
    top: 0;
    padding-top: $brand--controls-spacing;
    padding-bottom: $brand--controls-spacing;
    padding-left: $brand--controls-spacing * 2;
    padding-right: $brand--controls-spacing * 2;
    color: $brand--button-text-color--1;
    font-weight: 300;
    border: none;
    background-color: $brand--button-default-color;
    box-shadow: 0 .4em 0 0 darken($brand--button-default-color, 10%);
    @include vendor(border-radius, $brand--round);
    @include vendor(transition, all .05s);

    &:active {
        top: .2em;
        border-bottom-width: .2em;
        background-color: darken($brand--button-default-color, 5%);
        box-shadow: 0 .2em 0 0 darken($brand--button-default-color, 15%);
    };

    & + .button {
        margin-left: $brand--controls-spacing;
    }
}

.button--large {
    font-size: 1.2em;
    letter-spacing: -1px;
    padding-top: $brand--controls-spacing * 1.1;
    padding-bottom: $brand--controls-spacing * 1.1;
    padding-left: $brand--controls-spacing * 1.1 * 2;
    padding-right: $brand--controls-spacing * 1.1 * 2;
}

.button--small {
    font: {
        size: 0.9em;
        width: 400;
    };
    padding-top: $brand--controls-spacing / 1.1;
    padding-bottom: $brand--controls-spacing / 1.1;
    padding-left: $brand--controls-spacing / 1.1 * 2;
    padding-right: $brand--controls-spacing / 1.1 * 2;
}

/* Button Styles */

.button--primary {
    background-color: $brand--button-primary-color;
    box-shadow: 0 .4em 0 0 darken($brand--button-primary-color, 10%);

    &:active {
        background-color: darken($brand--button-primary-color, 5%);
        box-shadow: 0 .2em 0 0 darken($brand--button-primary-color, 15%);
    }
}

.button--secondary {
    background-color: $brand--button-secondary-color;
    box-shadow: 0 .4em 0 0 darken($brand--button-secondary-color, 10%);

    &:active {
        background-color: darken($brand--button-secondary-color, 5%);
        box-shadow: 0 .2em 0 0 darken($brand--button-secondary-color, 15%);
    }
}

/* Layout Helpers */

/*
    The purpose of `.buttons-group` helper is help layout buttons using dynamic widths.
    This class basically adds some spacing between buttons. HTML Example;


    <div class="two-thirds float--left buttons-group">
        <button class="button one-whole">Button 1</button>
    </div>

    <div class="one-third float--left buttons-group">
        <button class="button one-whole">Button 2</button>
    </div>
*/

.buttons-group + .buttons-group {
    padding-left: $brand--controls-spacing;
}