/*------------------------------------*\
    #FLIPPER
\*------------------------------------*/
/**
 * This is a simple object for creating flip effect.
 * HTML Example:

    <div class="flipper">
        <div class="flipper__wrapper">
            <div class="flipper__side flipper__side--front">Front</div>
            <div class="flipper__side flipper__side--rear">Rear</div>
        </div>
    </div>


 * NOTE:
 * `.flipper__side` adds absolute position to the element which affects the box model dimensions therefore
 * `.flipper__side` or `.flipper_wrapper` should have predefined width and height.
 */

.flipper {
    .csstransforms3d &.flipper--active {
        .flipper__side--front {
            opacity: 0;
            @include vendor(transform, rotate3d(0, 1, 0, 180deg));
        }

        .flipper__side--rear {
            opacity: 1;
            @include vendor(transform, rotate3d(0, 1, 0, 0deg));
        }
    }

    .no-csstransforms3d &.flipper--active {
        .flipper__side--front { display: none; }

        .flipper__side--rear { display: block; }
    }
}

/** Use this modifier to trigger flip effect on hover. */
.flipper--hovered {

    &:hover {
        .flipper__side--front {
            //opacity: 0;
            @include vendor(transform, rotate3d(0, 1, 0, 180deg));
        }

        .flipper__side--rear {
            //opacity: 1;
            @include vendor(transform, rotate3d(0, 1, 0, 0deg));
        }
    }
}

    .flipper__wrapper {
        position: relative;
    }

        .flipper__side {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            @include backface-visibility(visible);
            @include backface-visibility(hidden);
            @include vendor(transition, .3s);
            @include vendor(transform-style, preserve-3d);
        }

        .csstransforms3d {
            .flipper__side--front {
                opacity: 1;
                @include vendor(transform, rotate3d(0, 1, 0, 0deg));
            }

            .flipper__side--rear {
                opacity: 0;
                @include vendor(transform, rotate3d(0, 1, 0, -180deg));
            }
        }

        .no-csstransforms3d {
            .flipper__side--rear {
                display: none;
            }
        }