/*------------------------------------*\
    #FORM
\*------------------------------------*/

.form {

}

.form__row {
    padding: $brand--controls-spacing 0;

    &:first-child {

    }

    & + .form__row {
        padding-top: 0;
    }
}

.form__row--spaced,
.form__row + .form__row--spaced {
    padding-top: $brand--controls-spacing;
}