/*------------------------------------*\
    #INPUT-GROUP
\*------------------------------------*/

/* Additions to inputs styling. */

.input-group {
    @extend .cf;
    position: relative;
    padding-bottom: 0;
    @include vendor(transition, all .2s);

    * { float: left; }

    /* TODO: Find a better way to position an icon. */
    .icon {
        position: absolute;
        top: $brand--controls-spacing * 0.9;
        left: $brand--controls-spacing  * 0.9;
        display: block;
        color: $brand--input-text-color--placeholder;
        @include vendor(transition, all .2s);
    }

    .icon:before {
        font-size: 1.5em;
    }

    &.input-group--success .icon {
        color: $brand--input-text-color;
    }

    input {
        position: relative;
    }

    &.input-group--icon input {
        padding-left: 3em;

        .unsupported-ie & {
            padding-left: $brand--controls-spacing;
        }
    }

    input.valid + .icon,
    input:focus + .icon { color: $brand--input-text-color; }
}

.input-group__message {
    opacity: 0;
    padding: $brand--controls-spacing / 4;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $brand--msg-text-color;
    font-size: 80%;
    background: $brand--button-default-color;
    @include vendor(transition, all .2s);
    @include vendor(transform, rotate3d(1, 0, 0, 90deg) scale3d(.95, .95, .95));

    &:after {
        content: "";
        position: absolute;
        //z-index: 2;
        left: 50%;
        bottom: 100%;
        width: 0;
        height: 0;
        border: $brand--controls-spacing / 2 solid transparent;
    }
}

.input-group--success .input-group__message {
    background: $brand--success;

    &:after {
        border-bottom-color: $brand--success;
    }
}

.input-group--error .input-group__message {
    background: $brand--error;

    &:after {
        border-bottom-color: $brand--error;
    }
}

.input-group--warning .input-group__message {
    background: $brand--warning;

    &:after {
        border-bottom-color: $brand--warning;
    }
}

.input-group--warning,
.input-group--error,
.input-group--success {
    padding-bottom: $brand--controls-spacing * 2;

    .input-group__message {
        opacity: 1;
        @include vendor(transform, rotate3d(1, 0, 0, 0deg) scale3d(1, 1, 1));
    }
}

.input-group--validation-off {
    padding-bottom: 0;

    .input-group__message {
        opacity: 0;
        @include vendor(transform, rotate3d(1, 0, 0, 90deg) scale3d(.95, .95, .95));
    }
}

.lt-ie9 {
    .input-group {

        .icon {
            z-index: 3;
        }

        textarea,
        select,
        input {
            position: relative;
            z-index: 2;
        }
    }


    .input-group__message {
        z-index: 1;

        &:after {
            z-index: 1;
        }
    }
}